.navbar-brand img {
    height: 50px;
}
.navbar-brand {
    padding-bottom: 0;
}
.navbar-brand span {
    font-family: 'Yesteryear', sans-serif;
    color: #37823f;
    line-height: 54px;
    font-size: 55px;
}
