@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600,900');
@import url('https://fonts.googleapis.com/css?family=Yesteryear');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.med-typed {
    font-weight: 600;
}

.bold-typed {
    font-weight: 900;
}

.styled {
    font-family: 'Yesteryear', sans-serif;
    font-size: 70px;text-shadow: 0 3px 5px #00000073;
}
